*.glade
*.glade~
*.py~
*.ngc
*.ngc~
*.pyc
*.pyc~
*.jpg
*.PNG
*.png
periodic_extern.py
profile.bin
profile.bac
switch.py
test2.py
backenausdrehen.py
bauteil.py
cnc_errorlog.log
cnc_logfile.csv
ende2_aktueller_stand.py
*.gif
*.backe
startup_extern.py
ende.py
event_handlers.py
gcode_verify.py
M104
Radius